@using Model;
@model tbPO

@{
    ViewBag.Title = "新增采购单";
}
<style type="text/css">
    .hligt {
        /*border-color: #66afe9;*/
        background-color: #FFFF99;
    }

</style>

@using (Ajax.BeginForm("New", "Purchs", null, new AjaxOptions { HttpMethod = FormMethod.Post.ToString(), OnSuccess = "submitSuccess" }, new { id = "ChangeCtent" }))
{
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#DefineChgRqst">
                    <h3 class="panel-title">
                        新增采购单
                    </h3>
                </a>
            </div>
            <div id="DefineChgRqst" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">                      
                        <div class="form-group  form-group-sm col-sm-12">
                           
                            <div class="input-group form-group-sm col-sm-4">
                                <span class="input-group-addon">采购单号</span>
                                @Html.TextBoxFor(c => c.PNbr, new { @class = "form-control", @readonly = true })
                            </div>
  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12"><a href="~/Docs/ImportFormat.xlsx"><i class="fa fa-file-excel-o"> 模板下载</i></a> <a href="javascript:void(0)" style="margin-left:10px;"><i class="fa fa-download"> 导出</i></a> <a style="margin-left:10px;" href="javascript:void(0)" onclick="loadPO();"><i class="fa fa-upload"></i> 上传</a></div>
                        <div class="form-group form-group-sm col-sm-12 table-responsive">
                            @*<div class="hr-line-dashed"></div>*@
                            <table id="tbBom" class="table table-hover table-bordered text-nowrap">
                                <caption><i class="fa fa-hand-pointer-o help-block">  注意: 所有带星号(*)标志的都需要填写! </i></caption>
                                <thead>
                                    <tr>
                                        <th data-field="Id" class="text-center">Id</th>
                                        <th data-field="FBA" class="text-center">FBA</th>
                                        <th data-field="sku" class="text-center">SKU</th>
                                        <th data-field="Qty" class="text-center">数量</th>
                                        <th data-field="Currency" class="text-center">货币</th>
                                        <th data-field="UnitPrice" class="text-center">单价</th>                                     
                                        <th data-field="outerBoxDim" class="text-center">外箱大小(m³)</th>
                                        <th data-field="outerBoxQty" class="text-center">外箱数量</th>
                                        <th data-field="weight" class="text-center">重量(KG)</th>
                                        <th data-field="destPort" class="text-center">目的港口</th>
                                        <th data-field="ShipCat" class="text-center">出运方式</th>
                                        <th data-field="SupplierId" class="text-center">供应商</th>
                                        <th data-field="Comments" class="text-center">备注</th>
                                        <th style="width:70px;" class="text-center">
                                            <a onclick="addNewRow()" style='cursor:pointer'>
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i> 增加
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                        <div class="form-group form-group-sm col-lg-12">
                            <div class="hidden">
                                <input id="pchsUpload" type="file" class="file">
                            </div>
                        </div>
                    </div>
                       @*<div class="row">
                           <div class="col-sm-12>">
                               <ul>
                                   <li>所有</li>
                               </ul>
                           </div>
                       </div>*@




                    </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="btn-group-sm pull-right">
            <button type="button" class="btn btn-default btn-sm" onclick="formSave();">保存到草稿箱</button>
            <button type="button" id="btnCel" class="btn btn-warning btn-sm hidden" onclick="btnCancel();">取消申请</button>
            <button type="button" class="btn btn-primary btn-sm" onclick="formSubmit();">提交申请</button>
        </div>
    </div>


}

@section scripts{
    <script src="~/Scripts/cust/yiqinfo.js"></script>
<script src="~/Scripts/cust/qypo.js"></script>
    <script type="text/javascript">



    $(function () {
        init();

        if ('@Model.Id' != 0) {
            bindDataForEdit();
            $("#btnCel").removeClass("hidden");

        }
    });


    function init() {
        //BSFileUpload("pchsUpload", $('#ECRNum').val(), "tbDocs");   //file upload
        UploadPChs("pchsUpload", '@Model.PNbr');   //file upload
    }


    var rowIdex = 1;

    //增加一条
    function addNewRow() {
        var $tb = $("#tbBom")
        var firstTr = $tb.find("tbody>tr:last");
        var row = $("<tr id='tr" + rowIdex + "'></tr>");
        var td_1 = $("<td></td>");  //id
        var td_2 = $("<td></td>");
        var td_3 = $("<td></td>");
        var td_4 = $("<td></td>");
        var td_5 = $("<td></td>");
        var td_6 = $("<td></td>");
        var td_7 = $("<td></td>");
        var td_8 = $("<td></td>");
        var td_9 = $("<td></td>");
        var td_10 = $("<td></td>");
        var td_11 = $("<td></td>");
        var td_12 = $("<td></td>");
        var td_13 = $("<td></td>");
        var td_14 = $("<td></td>");
        td_1.append(rowIdex);
        td_2.append($("<input class='form-control input-sm'  type='text' id='fba" + rowIdex + "' name='fba" + rowIdex + "' style='width:80px;' placeholder='*' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));
        td_3.append($("<select id='slctsku" + rowIdex + "' name='slctsku" + rowIdex + "' class='form-control' style='width:100px;'> <option></option></select>"));   //sku
        td_4.append($("<input id='qty" + rowIdex + "' class='form-control input-sm'  type='number' style='width:100px;' placeholder='*' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));   //qty
        td_5.append($("<select class='form-control clscy' id='cy" + rowIdex + "' name='cy" + rowIdex + "' style='width:100px;'></select>"));   //currency
        td_6.append($("<input class='form-control input-sm'  type='number' style='width:100px;' placeholder='*' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));     //price ,td_2.append($("<input id='chgDeB" + rowIdex + "' class='form-control input-sm'  type='text' />"));
        td_7.append($("<input class='form-control input-sm'  type='number' placeholder='*' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));
        td_8.append($("<input class='form-control input-sm'  type='number' placeholder='*' onkeyup='chgevnt(this);' style='width:110px;' onchange='chgevnt(this);'/>"));
        td_9.append($("<input class='form-control input-sm'  type='number' placeholder='*' onkeyup='chgevnt(this);' style='width:120px;' onchange='chgevnt(this);'/>"));
        td_10.append($("<select id='sport" + rowIdex + "' name='sport" + rowIdex + "' class='form-control' style='width:100px;'> <option></option></select>"));   //DestPort
        td_11.append($("<select class='form-control' style='width:110px;'> <option value='空运'>空运</option><option value='海运'>海运</option><option value='快船'>快船</option></select>"));   //shipment
        td_12.append($("<select id='sply" + rowIdex + "' name='sply" + rowIdex + "' class='form-control' style='width:100px;'> <option></option></select>"));   //supplier
        td_13.append($("<input class='form-control input-sm' style='width:150px;' type='text' />"));
        td_14.append($("<a style='cursor:pointer' title='Delete' onclick='del(" + rowIdex + ")'><i class='fa fa-trash-o'  id='" + rowIdex + "' ></i> 删除</a>"));
        row.append(td_1).append(td_2).append(td_3).append(td_4).append(td_5).append(td_6).append(td_7).append(td_8).append(td_9).append(td_10).append(td_11).append(td_12).append(td_13).append(td_14);
        $tb.append(row);


        SKUSearch("slctsku" + rowIdex + "");
        PortSearch("sport" + rowIdex + "");
        SupplierSearch("sply" + rowIdex + "")
        listCurrency("cy" + rowIdex + "", '')


        rowIdex++;






    }




    function del(e) {
        var itmval = $("#item" + e + "").val();
        var obj = {};
        obj["PNbr"] = '@Model.PNbr';
        obj["FBA"] = $("#fba" + e + "").val();
        obj["sku"] = $("#slctsku" + e + "").val();

        console.log(obj);
        $("#tr" + e + "").remove();
        $.post("@Url.Action("delte_po", "Purchs")", { obj: JSON.stringify(obj) }, function (r) {
            $("#tr" + e + "").remove();
        });

    }


    function chgevnt(e) {
        if ($(e).val().length == 0 || $(e).val() == 'null') {
            $(e).addClass("hligt");

        } else {
            $(e).removeClass("hligt");
        }


    }
    function Validate() {
        var flag = true;
        var tableArr = []; //存所有数据
        $("#tbBom tbody tr").each(function () { //便利除标题行外所有行
            $("input:not(:button),select,textarea", this).each(function (i) { //便利行内的input select的值
                if ($(this).val().length == 0 || $(this).val() == 'null') {
                    if (i != 11) {   //11 -comments
                        $(this).addClass("hligt");
                        flag = false;
                    }
                } else {
                    $(this).removeClass("hligt");
                }
            });

        });
        return flag;
    }

    function btnEvent(act) {
        layer.closeAll('loading');
        layer.load(1, { shade: [0.5, '#fff'] });  //show loading...
        if (Validate()) {
            var purchs = Getpurchs('@Model.PNbr');
            $.post("@Url.Action("New", "Purchs")", { pnbr: '@Model.PNbr', PurchsData: purchs, actType: act }, function (rst) {
                layer.closeAll('loading');
                if (!rst.state) {
                    layer.msg(rst.msg, { time: 1500, icon: 2 });

                } else {
                    layer.msg(rst.msg);
                    if (act.indexOf('Submit') != -1) {
                        window.document.location.href = '@Url.Action("InProcess", "TaskMgr")';
                    }
                }
            });
        } else {
            layer.closeAll('loading'); layer.msg("保存不成功，有未填写的数据！", { time: 1500, icon: 2 });
        }
    }

    function formSave() {
        layer.closeAll('loading');
        layer.load(1, { shade: [0.5, '#fff'] });  //show loading...
        if (Validate()) {
            var purchs = Getpurchs('@Model.PNbr');
            $.post("@Url.Action("New", "Purchs")", { pnbr: '@Model.PNbr', PurchsData: purchs, actType: "POSave" }, function (rst) {
                layer.closeAll('loading');
                if (!rst.state) {
                    layer.msg(rst.msg, { time: 1500, icon: 2 });

                } else {
                    layer.msg(rst.msg, { time: 1500, icon: 1 });
                }
            });
        } else {
            layer.closeAll('loading'); layer.msg("保存不成功，有未填写的数据！", { time: 1500, icon: 2 });
        }


    }



    function formSubmit() {
        layer.confirm('确定要提交吗？', {
            icon: 3,
            title: '系统提示',
            btn: ['确定', '取消']
        }, function () {

            btnEvent("POSubmit");


        });
    }


    function btnCancel() {
        layer.confirm('确定要取消该申请吗？注意,取消后该单号不可再使用.', {
            icon: 3,
            title: '系统提示',
            btn: ['确定', '取消']
        }, function () {
            var index = layer.load(1, { shade: [0.5, '#fff'] });   //show loading...
            $.post("@Url.Action("Cancel_po", "Purchs")", { pnbr: '@Model.PNbr', actType: "Cancelled" }, function () {
                layer.msg("采购单已取消", function () { layer.close(index); history.back(-1); });
            });
        });

    }


    function submitSuccess() {
        layer.closeAll('loading');
        layer.msg("Success", { time: 500, icon: 1 });
    }


    function FileActionFormatter(value, row, index) {
        var d = '<a href="javascript:void(0)" onclick="deleteFile(\'' + row.Id + '\',\'' + row.FileName + '\',\'tbDocs\')" ><span class="glyphicon glyphicon-remove" title="Remove" style="padding-left:10px;"></span></a> ';
        return d;
    }


    function attachedFileFormatr(value, row, index) {
        var sctrl = "<a href='@Url.Content("~/UploadFiles/")" + row.FileName + "' target='_blank'>" + row.FileName + "</a>";
        return sctrl;
    }

    //delete attaches
    function deleteFile(id, fname, FileTbId) {
        layer.confirm('确定要删除吗？', {
            title: 'Warning',
            //icon: 3,
            btn: ['Yes', 'Cancel'], //按钮
            shade: false
        }, function (index) {
            $.ajax({
                url: '@Url.Content("~/Service/DelFile")',
                data: { id: id, fileName: fname },
                success: function (result) {
                    if (result.state) {
                        //layer.msg(result.msg, { time: 500, icon: 1 });
                        layer.close(index);
                        $("#" + FileTbId).bootstrapTable('refresh');
                    }
                    else {
                        layer.msg(result.msg, { time: 1500, icon: 2 });
                    }
                }
            });
        });
    }



    //Data bind for edit
    function bindDataForEdit() {
        layer.load(1, { shade: [0.5, '#fff'] });   //show loading...
        listPO('@Model.PNbr');
    }

    function listPO(pnum) {
        $("#tbBom tbody>tr").remove();
        rowIdex = 1;
        $.get('@Url.Action("List_PO", "Service")', { pnbr: pnum }, function (data) {
            $(data).each(function () { bind_POes(this); });
        });

        layer.closeAll();

    }

    function listCurrency(crnId, cy) {
        $.post('@Url.Action("List_Currency", "Service")', { query: cy }, function (data) {

            $("#" + crnId).select2({
                data: data,
                placeholder: '请选择..',//默认文字提示
                language: "zh-CN",//汉化
                allowClear: true//允许清空
            });

        });
    }
    function bindSupplier(crnId, suppid) {
        $.post('@Url.Action("get_supplier_by_id", "Service")', { id: suppid }, function (data) {

            $("#" + crnId).append(new Option(data.ChsName, data.Id, true, true)).trigger("change");

        });
    }

    function bind_POes(obj) {

        //检查空值

        console.log(obj.Qty);

        var $tb = $("#tbBom")
        var firstTr = $tb.find("tbody>tr:last");
        var row = $("<tr id='tr" + rowIdex + "'></tr>");
        var td_1 = $("<td></td>");  //id
        var td_2 = $("<td></td>");
        var td_3 = $("<td></td>");
        var td_4 = $("<td></td>");
        var td_5 = $("<td></td>");
        var td_6 = $("<td></td>");
        var td_7 = $("<td></td>");
        var td_8 = $("<td></td>");
        var td_9 = $("<td></td>");
        var td_10 = $("<td></td>");
        var td_11 = $("<td></td>");
        var td_12 = $("<td></td>");
        var td_13 = $("<td></td>");
        var td_14 = $("<td></td>");
        td_1.append(rowIdex);

        if (obj.FBA == 'null' || obj.FBA == null) {
            td_2.append($("<input class='form-control input-sm'  type='text' style='width:80px;' placeholder='*' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));
        } else {
            td_2.append($("<input class='form-control input-sm'  type='text' style='width:80px;' placeholder='*' value='" + obj.FBA + "' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));
        }

        td_3.append($("<select id='slctsku" + rowIdex + "' name='slctsku" + rowIdex + "' class='form-control' style='width:100px;'> <option></option></select>"));   //sku

        if (obj.Qty == 'null' || obj.Qty == null) {
            td_4.append($("<input id='qty" + rowIdex + "' class='form-control input-sm'  type='number' style='width:100px;' placeholder='*' onkeyup='chgevnt(this);'/>"));   //qty
        } else {
            td_4.append($("<input id='qty" + rowIdex + "' class='form-control input-sm'  type='number' style='width:80px;' placeholder='*' value='" + obj.Qty + "' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));   //qty

        }


        //td_5.append($("<select class='form-control' style='width:80px;'> <option value='人发币'>人发币 ￥</option><option value='美元'>美元 $</option><option value='3'>欧元 €</option></select>"));   //currency
        td_5.append($("<select class='form-control clscy' id='cy" + rowIdex + "' name='cy" + rowIdex + "' style='width:100px;'></select>"));   //currency

        if (obj.UnitPrice == 'null' || obj.UnitPrice == null) {
            td_6.append($("<input class='form-control input-sm'  type='number' style='width:100px;' placeholder='*' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));     //unitPrice ,td_2.append($("<input id='chgDeB" + rowIdex + "' class='form-control input-sm'  type='text' />"));
        } else {
            td_6.append($("<input class='form-control input-sm'  type='number' style='width:100px;' placeholder='*'  value='" + obj.UnitPrice + "' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));
        }

        if (obj.OuterBoxDim == 'null' || obj.OuterBoxDim == null) {
            td_7.append($("<input class='form-control input-sm'  type='number' placeholder='*' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));
        } else {
            td_7.append($("<input class='form-control input-sm'  type='number' placeholder='*' value='" + obj.OuterBoxDim + "' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));
        }
        if (obj.OuterBoxQty == 'null' || obj.OuterBoxQty == null) {
            td_8.append($("<input class='form-control input-sm'  type='number' placeholder='*' onkeyup='chgevnt(this);' onchange='chgevnt(this);' style='width:110px;'/>"));
        } else {
            td_8.append($("<input class='form-control input-sm'  type='number' placeholder='*' value='" + obj.OuterBoxQty + "' onkeyup='chgevnt(this);' onchange='chgevnt(this);' style='width:110px;'/>"));
        }


        if (obj.Weight == 'null' || obj.Weight == null) {
            td_9.append($("<input class='form-control input-sm'  type='number' placeholder='*' onkeyup='chgevnt(this);' onchange='chgevnt(this);' style='width:120px;'/>"));
        } else {
            td_9.append($("<input class='form-control input-sm'  type='number' placeholder='*' value='" + obj.Weight + "' onkeyup='chgevnt(this);' onchange='chgevnt(this);' style='width:120px;'/>"));
        }

        td_10.append($("<select id='sport" + rowIdex + "' name='sport" + rowIdex + "' class='form-control' style='width:100px;'> <option></option></select>"));   //DestPort


        if (obj.ShipCat == '空运') {
            td_11.append($("<select class='form-control' style='width:80px;'> <option value='空运' selected>空运</option><option value='海运'>海运</option></select><option value='快船'>快船</option></select>"));   //shipment
        } else if (obj.ShipCat == '海运') {
            td_11.append($("<select class='form-control' style='width:80px;'> <option value='空运'>空运</option><option value='海运' selected>海运</option></select><option value='快船'>快船</option></select>"));   //shipment
        } else if (obj.ShipCat == '快船') {
            td_11.append($("<select class='form-control' style='width:80px;'> <option value='空运'>空运</option><option value='海运'>海运</option><option value='快船' selected>快船</option></select>"));   //shipment

        }

        td_12.append($("<select id='sply" + rowIdex + "' name='sply" + rowIdex + "' class='form-control' style='width:100px;'> <option></option></select>"));   //supplier
        td_13.append($('<input class="form-control input-sm" style="width:150px;" type="text" value="' + obj.Comments + '"/>'));    //comments
        td_14.append($("<a style='cursor:pointer' title='Delete' onclick='del(" + rowIdex + ")'><i class='fa fa-trash-o'  id='" + rowIdex + "' ></i> 删除</a>"));
        row.append(td_1).append(td_2).append(td_3).append(td_4).append(td_5).append(td_6).append(td_7).append(td_8).append(td_9).append(td_10).append(td_11).append(td_12).append(td_13).append(td_14);
        $tb.append(row);


        SKUSearch("slctsku" + rowIdex + "");
        PortSearch("sport" + rowIdex + "");
        SupplierSearch("sply" + rowIdex + "")
        listCurrency("cy" + rowIdex + "", '')

        if (obj.Sku != null && obj.Sku != "") {
            $("#slctsku" + rowIdex + "").append(new Option(obj.Sku, obj.Sku, true, true)).trigger("change");
        }


        if (obj.DestPort != null && obj.DestPort != "") {
            $("#sport" + rowIdex + "").append(new Option(obj.DestPort, obj.DestPort, true, true)).trigger("change");
        }

        if (obj.Currency != null && obj.Currency != "") {
            $("#cy" + rowIdex + "").append(new Option(obj.Currency, obj.Currency, true, true)).trigger("change");
        }


        if (obj.SupplierId != null && obj.SupplierId != "") {
            bindSupplier("sply" + rowIdex + "", obj.SupplierId);
        }


        rowIdex++;


    }

    function loadPO() {
        $("#pchsUpload").click();
    }

    //bootstrap fileinput
    function UploadPChs(loadctrId, ChgId) {
        //var loadId = '#' + loadctrId;
        $('#' + loadctrId).fileinput('refresh', {
            //theme: "explorer-fa", //主题
            uploadUrl: '../Service/UploadPO', //上传的地址
            uploadExtraData: { "PNbr": ChgId, "actType": "POSave" },
            allowedFileExtensions: ['xlsx'],//接收的文件后缀
            uploadAsync: true, //默认异步上传
            showUpload: false, //是否显示上传按钮
            showRemove: false, //显示移除按钮
            showPreview: false, //是否显示预览
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary btn-sm", //按钮样式
            autoReplace: false,
            showCancel: false,
            dropZoneEnabled: false,//是否显示拖拽区域
            removeFromPreviewOnError: false,//是否移除校验文件失败的文件
            maxFileCount: 1, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            layoutTemplates: {
                actionUpload: '',   //取消上传按钮
                actionZoom: ''      //取消放大镜按钮
            },
            maxFileSize: 1024 * 10,  //允许文件上传大小
            overwriteInitial: false,
            previewFileIcon: '<i class="fa fa-file"></i>',
            initialPreviewAsData: true // defaults markup
        }).on("filebatchselected", function (event, files) {
            layer.load(1, { shade: [0.5, '#fff'] });  //show loading...
            var filename = $(this).val();
            var index1 = filename.lastIndexOf(".");
            var postf = filename.substring(index1, filename.length).toLowerCase();//后缀名
            if (postf == ".xlsx") {
                $(this).fileinput("upload");
            } else {
                layer.msg("Invalid File Type, Only excel(.xlsx) support", { time: 2000, icon: 2 });
            }
        }).on("fileuploaded", function (event, data, previewId, index) {
            $(this).fileinput("clear").fileinput("enable");   //reSet
            if (data.response.state) {
                //ListFiles2Table(lstTbId, ChgId);
                listPO(ChgId);
            } else {
                layer.closeAll();
                layer.msg(data.response.msg, { time: 2000, icon: 2 });

            }

        });


    }

</script>
}

