@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user"></i> 人员管理</h3>
            </div>
            <div class="panel-body">
                <table id="tbUser" class="table table-hover table-striped table-bordered text-center" data-pagination="true" data-show-refresh="true">
                    <thead>
                        <tr>
                            <th colspan="5" class="text-center">人员信息</th>
                            <th colspan="10" class="text-center">权限信息</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th data-field="Id" data-sortable="false" class="text-center">编号</th>
                            <th data-field="name" data-sortable="false" class="text-center">姓名</th>
                            <th data-field="JobTitle" data-sortable="false" class="text-center">职位</th>
                            <th data-field="email" data-sortable="false" class="text-center">邮箱</th>
                            <th data-field="Supervisor" data-sortable="false" class="text-center">直属领导</th>
                            <th data-field="yunying" data-sortable="false" class="text-center">运营</th>
                            <th data-field="Approval" data-sortable="false" class="text-center">审批</th>
                            <th data-field="Purchase" data-sortable="false" class="text-center">采购</th>
                            <th data-field="Finance" data-sortable="false" class="text-center">财务</th>
                            <th data-field="Logistic" data-sortable="false" class="text-center">物流</th>
                            <th data-field="HR" data-sortable="false" class="text-center">人事</th>
                            <th data-field="Sales" data-sortable="false" class="text-center">销售</th>
                            <th data-field="Del" data-sortable="false" class="text-center">删除</th>
                            <th data-field="ManageStock" data-sortable="false" class="text-center">库存管理</th>
                            <th data-field="ManageProfit" data-sortable="false" class="text-center">销售报表管理</th>
                            <th data-field="operation" data-formatter="actionFormatter" data-events="actionEvents" class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div id="toolbar" class="btn-group-sm">
                    <button id="btnAdd" type="button" class="btn btn-default btn-sm" title="添加人员" onclick="openDialog('@Html.Raw(Url.Action("Edit", new { id=0 }))','tbUser','mainContent','添加人员');">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加人员
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            initTable();
        });

        function initTable() {
            //$('#tbMyTeam').bootstrapTable('destroy');
            $("#tbUser").bootstrapTable('destroy').bootstrapTable({
                method: "get",  //使用get请求到服务器获取数据
                url: "@Url.Action("ListUsers", "User")", //获取数据的Servlet地址
                striped: true,  //表格显示条纹
                cache: false,
                pagination: true, //启动分页
                paginationHAlign: 'right', //right, left
                paginationVAlign: 'bottom', //bottom, top, both
                paginationDetailHAlign: 'left', //right, left
                pageSize: 10,  //每页显示的记录数
                pageNumber: 1, //当前第几页
                pageList: [5, 10, 15, 20, 25],  //记录数可选列表
                search: true,  //是否启用查询
                toolbar: '#toolbar',
                showColumns: true,  //显示下拉框勾选要显示的列
                showRefresh: true,  //显示刷新按钮
                sidePagination: "server", //server表示服务端请求client
                showPaginationSwitch: false,//展示页数的选择？
                queryParamsType: "limit",
                queryParams: function queryParams(params) {   //设置查询参数
                    var param = {
                        pageIndex: Math.ceil(params.offset / params.limit) + 1,
                        pageSize: params.limit,
                        search: params.search,
                        sort: params.sort,
                        sortOrder: params.order
                    };
                    return param;
                },
                formatSearch: function () {
                    return '输入人名搜索...';
                },
                onLoadSuccess: function () {  //加载成功时执行
                    //layer.msg("加载成功");
                },
                onLoadError: function () {  //加载失败时执行
                    //layer.msg("加载数据失败", { time: 1500, icon: 2 });
                }
            });
        }

        function actionFormatter(value, row, index) {
            return [
             '<a class="mod" href="javascript:void(0)" title="编辑">', '<i class="glyphicon glyphicon-pencil"></i>', '</a>',
             '<a class="delete" href="javascript:void(0)" title="移除" style="margin-left:10px;">', '<i class="glyphicon glyphicon-remove"></i>', '</a>'
            ].join('');
        }

        window.actionEvents = {
            'click .mod': function (e, value, row, index) {
                openDialog('@Html.Raw(Url.Action("Edit"))' + "?id=" + escape(row.Id), 'tbUser', 'mainContent', '人员信息编辑');
            },
            'click .delete': function (e, value, row, index) {
                layer.confirm('确定要移除该人员吗？', {
                    icon: 3,
                    title: '系统提示',
                    btn: ['确定', '取消']
                }, function (index) {
                    $.post("@Url.Action("remove", "User")", { id: row.Id }, function () {                   
                        layer.close(index);
                        //$("#tbUser").bootstrapTable('refresh');
                        window.parent.location.reload(); //刷新父页面                       
                    });



                }, function () {
                    //event for Cancel
                    //layer.msg('Cancelled', { icon: 1 });
                });
            }
        }



        function openDialog(openUrl, refreshTbId, vlidFormId, dialogTitle) {
            //var url = '@Html.Raw(Url.Action("Edit"))' + "?id=" + escape(id);
            layer.open({
                title: '<i class="fa fa-plus"></i> ' + dialogTitle,
                type: 2,
                area: ['780px', '450px'],   //宽高,默认：'auto'
                content: [openUrl, "no"],
                success: function (layero, index) {
                    //layer.iframeAuto(index)   //iframe自适应高度
                },
                end: function () {    //层销毁后触发的回调
                    $("#" + refreshTbId).bootstrapTable('refresh');   //刷新table
                },
                btn: ['提交', '取消'],
                yes: function (index, layero) {
                    var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                    var rst = iframeWin.form_submit();            
                    if (rst) {
                        $("#" + refreshTbId).bootstrapTable('refresh');   //刷新table
                        parent.layer.close(index); //关闭当前的弹窗
                        window.parent.location.reload(); //刷新父页面
                    }
              
                }
            });
        }

    </script>
}


