@{
    ViewBag.Title = "待办事项";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i>等待处理的采购单列表</h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <table id="tbInpro" class="table table-hover text-center" data-pagination="true" data-show-refresh="true">
                    <thead>
                        <tr>
                            <th data-field="rownum" class="text-center">#</th>
                            <th data-field="PNbr" class="text-center">采购单号</th>
                            <th data-field="Cdt" data-sortable="false" class="text-center">创建日期</th>
                            <th data-field="ModUser" class="text-center">申请人</th>
                            <th data-field="Status" data-sortable="false" class="text-center">状态</th>
                            <th class="col-sm-1 text-center" data-field="operation" data-formatter="actionFormatter" data-events="actionEvents">操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    function initTable() {
        $("#tbInpro").bootstrapTable('destroy').bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "@Url.Action("ListTask", "Service")", //获取数据的Servlet地址
            striped: true,  //表格显示条纹
            cache: false,
            pagination: true, //启动分页
            paginationHAlign: 'right',
            paginationVAlign: 'bottom', //bottom, top, both
            paginationDetailHAlign: 'left', //right, left
            showPaginationSwitch: false,//展示页数的选择？
            pageSize: 10,
            pageNumber: 1, //当前第几页
            pageList: [5, 10, 15, 20, 25],
            search: false,
            showColumns: false,  //显示下拉框勾选要显示的列
            showRefresh: false,  //显示刷新按钮
            sidePagination: "server", //server表示服务端请求client
            queryParamsType: "limit",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    state: 'InProcess',
                    pageIndex: Math.ceil(params.offset / params.limit) + 1,
                    pageSize: params.limit
                };
                return param;
            },
            formatSearch: function () {
                return 'Search: Request Number';
            },
            onLoadSuccess: function () {  //加载成功时执行
                //layer.msg("加载成功");
            },
            onLoadError: function () {  //加载失败时执行
                //layer.msg("加载数据失败", { time: 1500, icon: 2 });
            }
        });
    }


    function actionFormatter(value, row, index) {
        return '<a class="tskView" href="javascript:void(0)" title="查看详细信息"><i class="fa fa-eye"> 查看</i></a>';
    }
    //表格  - 操作 - 事件
    window.actionEvents = {
        'click .tskView': function (e, value, row, index) {
            layer.load(1, { shade: [0.5, '#fff'] });   //show loading...
            if (row.engTskName == 'Approval' || row.engTskName == 'Approval2') {
                window.location.href = '@Url.Action("ApprovalAct", "TaskMgr")?BPId=' + escape(row.BPId);
                } else if (row.engTskName == 'Purchase') {
                     window.location.href = '@Url.Action("purchase", "TaskMgr")?BPId=' + escape(row.BPId);
                } else if (row.engTskName == 'POPay') {
                    window.location.href = '@Url.Action("POPay", "TaskMgr")?BPId=' + escape(row.BPId);
                } else if (row.engTskName == 'TaxPay') {
                    window.location.href = '@Url.Action("TaxPay", "TaskMgr")?BPId=' + escape(row.BPId) ;
                } else if (row.engTskName == 'OutOfStock') {
                    window.location.href = '@Url.Action("logistics", "TaskMgr")?BPId=' + escape(row.BPId);
                } else if (row.engTskName == 'ConfirmArrival') {
                    window.location.href = '@Url.Action("logicConfirm", "TaskMgr")?BPId=' + escape(row.BPId);
                } else if (row.engTskName == 'ConfirmPO') {
                    window.location.href = '@Url.Action("ConfirmPO", "TaskMgr")?BPId=' + escape(row.BPId);
                }
                else if (row.engTskName == 'NewPO') {
                    window.location.href = '@Url.Action("New", "Purchs")?PNbr=' + escape(row.PNbr);
                }



            




        }

    }

    $(function () {
        initTable();
    });


    </script>

}
