@{
    ViewBag.Title = "账务支付";
}
@using Model;
@model TskForDisplay
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> 采购单详细信息</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon">采购单号</span>
                        @Html.LabelForModel(Model.PNbr, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6 form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon">申请人</span>
                        @Html.LabelForModel(Model.ModUser, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6 form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon">申请日期</span>
                        @Html.LabelForModel(Model.Cdt, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6 form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon">状态</span>
                        @Html.LabelForModel(Model.chsTskName, new { @class = "form-control" })
                    </div>
                </div>

            </div>


            <div class="row" style="margin-top:15px;">
                <div class="col-lg-12 table-responsive">
                    <table id="tbMain" class="table table-hover" data-pagination="true" data-show-refresh="true">
                        <thead>
                            <tr>
                                <th data-field="Id" class="text-center">Id</th>
                                <th data-field="FBA" class="text-center">FBA</th>
                                <th data-field="Sku" class="text-center">SKU</th>
                                <th data-field="Qty" class="text-center">数量</th>
                                <th data-field="FinalQty" class="text-center">实际采购数量</th>
                                <th data-field="Currency" class="text-center">货币</th>
                                <th data-field="UnitPrice" class="text-center">单价</th>           
                                <th data-field="ChsSupplier" class="text-center">供应商</th>
                           

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>




        </div>
    </div>
</div>
<div class="row">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-edit"></i> 采购支付</h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">

                <div class="form-group form-group-sm col-sm-12">


                    <span><i class="fa fa-money"> 总金额 : @Model.amount</i></span>
                    <a style="margin-left:60px;" href="javascript:void(0)" onclick="loadTicket();"><i class="fa fa-upload"></i> 上传凭据</a>
                    <div class="hidden">
                        <input id="loadtckt" name="loadtckt" type="file" class="file">
                    </div>

                </div>
            </div>

            <div class="form-group  form-group-sm col-sm-12">
                <div class="col-sm-7">

                    <table id="tbDocs" class="table table-hover" data-pagination="true" data-show-refresh="true"></table>
                           @*<table id="tbDocs" class="table table-hover" data-pagination="true" data-show-refresh="true">
                        <thead>
                            <tr>
                                <th data-field="Id" data-valign="middle" data-align="center" data-sortable="false">File ID</th>
                                <th data-field="FName" data-valign="middle" data-align="center" data-sortable="false" data-formatter="attachedFileFormatr">文件名称</th>
                                <th class="col-sm-1" data-field="operation" data-formatter="FileActionFormatter">操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>*@</div>
            </div>

            <div class="col-lg-12">

                <div class="form-group form-group-sm col-sm-12">
                    <textarea id="AppComns" name="AppComns" class="form-control" rows="3" placeholder="请填写备注信息...">@Model.coments</textarea>

                </div>

            </div>

        </div>

    </div>


</div>

<div class="row col-lg-12">
    <div class="btn-group-sm pull-right">
        <button type="button" class="btn btn-default btn-sm" onclick="formSave();">保存</button>
        <button type="button" class="btn btn-primary btn-sm" onclick="formSubmit();">提交支付</button>
    </div>
</div>





@section scripts{

<script src="~/Scripts/cust/qypo.js"></script>

    <script type="text/javascript">
    function initTable(ponbr) {
        $("#tbMain").bootstrapTable('destroy').bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "@Url.Action("List_POForDisplay", "Service")", //获取数据的Servlet地址
            striped: true,  //表格显示条纹
            cache: false,
            pagination: true, //启动分页
            paginationHAlign: 'right',
            paginationVAlign: 'bottom', //bottom, top, both
            paginationDetailHAlign: 'left', //right, left
            showPaginationSwitch: false,//展示页数的选择？
            pageSize: 10,
            pageNumber: 1, //当前第几页
            pageList: [5, 10, 15, 20, 25],
            search: false,
            showColumns: false,  //显示下拉框勾选要显示的列
            showRefresh: false,  //显示刷新按钮
            sidePagination: "client", //server表示服务端请求client
            queryParamsType: "limit",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pnbr: ponbr

                };
                return param;
            },
            formatSearch: function () {
                return 'Search: Request Number';
            },
            onLoadSuccess: function () {  //加载成功时执行
                //layer.msg("加载成功");
            },
            onLoadError: function () {  //加载失败时执行
                //layer.msg("加载数据失败", { time: 1500, icon: 2 });
            }
        });
    }




    $(function () {
        initTable('@Model.PNbr');
        BSFileUpload("loadtckt", '@Model.PNbr', 'POTicket', 'tbDocs', '@BLL.UserHelper.Instance.GetUser().Id');
        if ('@BLL.tbFile.Instance.exist(Model.PNbr, "POTicket")' == 'True') {
            listTickets('tbDocs', '@Model.PNbr', '@BLL.UserHelper.Instance.GetUser().Id', 'POTicket');
        }
        
    });

    function formSave() {
        layer.closeAll('loading');
        var index = layer.load(1, { shade: [0.5, '#fff'] });  //show loading...
        $.post("@Url.Action("POPay", "TaskMgr")", { BPId: '@Model.BPId', pnbr: '@Model.PNbr', coments: $("#AppComns").val(), actType: "POPaySave" }, function (rst) {
            if (!rst.state) {
                layer.msg(rst.msg, { time: 1500, icon: 2 }, function () { layer.close(index); });

            } else {
                layer.msg(rst.msg, { time: 1500, icon: 1 }, function () { layer.close(index); });
            }
        });
    }
    function formSubmit() {
        layer.confirm('确定要提交吗？', {
            icon: 3,
            title: '系统消息',
            btn: ['确定', '取消']
        }, function () {
            var index = layer.load(1, { shade: [0.5, '#fff'] });   //show loading...
            $.post("@Url.Action("POPay", "TaskMgr")", { BPId: '@Model.BPId', pnbr: '@Model.PNbr', coments: $("#AppComns").val(), actType: "POPaySubmit" }, function (rst) {
                if (!rst.state) {
                    layer.msg(rst.msg, { time: 1500, icon: 2 }, function () { layer.close(index); });
                } else {
                    layer.msg(rst.msg, { time: 1500, icon: 1 }, function () { layer.close(index); window.document.location.href = '@Url.Action("InProcess", "TaskMgr")'; });
                }
            });



        });
    }
        function loadTicket() {

            $("#loadtckt").click();
        }

    </script>

}
