@{
    ViewBag.Title = "待待发起采购";
}
@using Model;
@model TskForDisplay

<style type="text/css">
    .hligt {
        /*border-color: #66afe9;*/
        background-color: #FFFF99;
    }
</style>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> 采购单详细信息</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon">采购单号</span>
                        @Html.LabelForModel(Model.PNbr, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6 form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon">申请人</span>
                        @Html.LabelForModel(Model.ModUser, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6 form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon">申请日期</span>
                        @Html.LabelForModel(Model.Cdt, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6 form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon">状态</span>
                        @Html.LabelForModel(Model.chsTskName, new { @class = "form-control" })
                    </div>
                </div>

            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col-lg-12 table-responsive">
                    <table id="tbMain" class="table table-hover table-striped table-bordered" data-pagination="true" data-show-refresh="true">
                        <thead>
                            <tr>

                                <th data-field="Id" class="hidden">Id</th>
                                <th data-field="FBA" class="text-center">FBA</th>
                                <th data-field="Sku" class="text-center">SKU</th>
                                <th data-field="Qty" class="text-center">申请采购数量</th>
                                <th data-field="FinalQty" class="text-center">实际采购数量</th>
                                <th data-field="Currency" class="text-center">货币</th>
                                <th data-field="UnitPrice" class="text-center">单价</th>
                                <th data-field="OuterBoxDim" class="text-center">外箱大小(m³)</th>
                                <th data-field="OuterBoxQty" class="text-center">外箱数量</th>
                                <th data-field="Weight" class="text-center">重量(KG)</th>
                                <th data-field="DestPort" class="text-center">目的港口</th>
                                <th data-field="ShipCat" class="text-center">出运方式</th>
                                <th data-field="ChsSupplier" class="text-center">供应商</th>
                                <th data-field="Comments" class="text-center">备注</th>
                               
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>




        </div>
    </div>
</div>
<div class="row">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-edit"></i> 备注信息</h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">

                <div class="form-group form-group-sm col-sm-12">
                    <textarea id="tbxComns" name="tbxComns" class="form-control" rows="3" placeholder="请填写备注信息...">@Model.coments</textarea>

                </div>

            </div>

        </div>

    </div>


</div>

<div class="row col-lg-12">
    <div class="btn-group-sm pull-right">
        <button type="button" class="btn btn-default btn-sm" onclick="formSave();">保存</button>
        <button type="button" class="btn btn-primary btn-sm" onclick="formSubmit();">发起采购</button>
    </div>
</div>





@section scripts{
    <script type="text/javascript">
        var rowIdex = 1;
    function initTable(ponbr) {
        $("#tbMain").bootstrapTable('destroy').bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "@Url.Action("List_POForDisplay", "Service")", //获取数据的Servlet地址
            striped: true,  //表格显示条纹
            cache: false,
            pagination: true, //启动分页
            paginationHAlign: 'right',
            paginationVAlign: 'bottom', //bottom, top, both
            paginationDetailHAlign: 'left', //right, left
            showPaginationSwitch: false,//展示页数的选择？
            pageSize: 10,
            pageNumber: 1, //当前第几页
            pageList: [5, 10, 15, 20, 25],
            search: false,
            showColumns: false,  //显示下拉框勾选要显示的列
            showRefresh: false,  //显示刷新按钮
            sidePagination: "client", //server表示服务端请求client
            queryParamsType: "limit",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pnbr: ponbr
                };
                return param;
            },
            formatSearch: function () {
                return 'Search: Request Number';
            },
            onLoadSuccess: function () {  //加载成功时执行
                //layer.msg("加载成功");
            },
            onLoadError: function () {  //加载失败时执行
                //layer.msg("加载数据失败", { time: 1500, icon: 2 });
            }
        });
    }




    $(function () {
        //initTable('@Model.PNbr');

        listPO('@Model.PNbr');
    });


        function listPO(pnum) {

            console.log(pnum);
            //reset BOM Table
            $("#tbBom tbody>tr").remove();
            rowIdex = 1;
            $.get('@Url.Action("List_POForDisplay", "Service")', { pnbr: pnum }, function (data) {
                console.log(data);
                //$.each(data, function () { bind_POes(this); });
                $(data).each(function () { bindTb(this); });
            });

            layer.closeAll();

        }

        function bindTb(obj) {

            //检查空值

            console.log(obj.Qty);

            var $tb = $("#tbMain")
            var firstTr = $tb.find("tbody>tr:last");
            var row = $("<tr id='tr" + rowIdex + "'></tr>");
            var td_1 = $("<td class='hidden'></td>");  //id
            var td_2 = $("<td></td>");
            var td_3 = $("<td></td>");
            var td_4 = $("<td></td>");
            var td_5 = $("<td></td>");
            var td_6 = $("<td></td>");
            var td_7 = $("<td></td>");
            var td_8 = $("<td></td>");
            var td_9 = $("<td></td>");
            var td_10 = $("<td></td>");
            var td_11 = $("<td></td>");
            var td_12 = $("<td></td>");
            var td_13 = $("<td></td>");
            var td_14 = $("<td></td>");
            td_1.append(obj.MainId);
            td_2.append(obj.FBA);            
            td_3.append(obj.Sku);   //sku
            td_4.append(obj.Qty);   //Qty
                     
            
            if (obj.FinalQty == 'null' || obj.FinalQty == null) {
                td_5.append($("<input class='form-control input-sm'  type='number' style='width:100px;' placeholder='*' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));
            } else {
                td_5.append($("<input class='form-control input-sm'  type='number' style='width:100px;' placeholder='*'  value='" + obj.FinalQty + "' onkeyup='chgevnt(this);' onchange='chgevnt(this);'/>"));
            }

            td_6.append(obj.Currency);   //currency
            td_7.append(obj.UnitPrice);   //unitprice
            td_8.append(obj.OuterBoxDim);   //OuterBoxDim

            td_9.append(obj.OuterBoxQty);   //OuterBoxQty
            td_10.append(obj.Weight);   //Weight
          
            td_11.append(obj.DestPort);   //DestPort
            td_12.append(obj.ShipCat);   //ShipCat
            td_13.append(obj.ChsSupplier);   //ChsSupplier
            td_14.append(obj.Comments);   //Comments

            row.append(td_1).append(td_2).append(td_3).append(td_4).append(td_5).append(td_6).append(td_7).append(td_8).append(td_9).append(td_10).append(td_11).append(td_12).append(td_13).append(td_14);
            $tb.append(row);

            rowIdex++;


        }
        function chgevnt(e) {
            if ($(e).val().length == 0 || $(e).val() == 'null') {
                $(e).addClass("hligt");

            } else {
                $(e).removeClass("hligt");
            }


        }
        function Validate() {
            var flag = true;
            var tableArr = []; //存所有数据
            $("#tbMain tbody tr").each(function () { //便利除标题行外所有行
                $("input:not(:button),select,textarea", this).each(function (i) { //便利行内的input select的值
                    if ($(this).val().length == 0 || $(this).val() == 'null') {                      
                            $(this).addClass("hligt");
                            flag = false;
                        
                    } else {
                        $(this).removeClass("hligt");
                    }
                });

            });
            return flag;
        }

    function formSave() {
     
        layer.closeAll('loading');
        var index = layer.load(1, { shade: [0.5, '#fff'] });  //show loading...
        if (Validate()) {
            var objlist = GetFinalQty();
            $.post("@Url.Action("purchase", "TaskMgr")", { BPId: '@Model.BPId', pnbr: '@Model.PNbr', coments: $("#tbxComns").val(), actType: "PurchsSave",finanlqtylist:objlist }, function (rst) {
                if (!rst.state) {
                    layer.msg(rst.msg, { time: 1500, icon: 2 }, function () { layer.close(index); });

                } else {
                    layer.msg(rst.msg, { time: 1500, icon: 1 }, function () { layer.close(index); });
                }
            });
        } else {
            layer.closeAll('loading'); layer.msg("无法保存，有未填写的数据！", { time: 1500, icon: 2 });
        }



    }
    function formSubmit() {
        layer.confirm('确定要提交吗？', {
            icon: 3,
            title: '系统消息',
            btn: ['确定', '取消']
        }, function () {
            var index = layer.load(1, { shade: [0.5, '#fff'] });   //show loading...
            var objlist = GetFinalQty();
            @*var url = '@Html.Raw(Url.Action("Act", "TaskMgr", new { chsTskName = Request.QueryString["chsTskName"], actType = "AppSubmit" }))';*@

            @*$.post(url,  {chsTskName : Request.QueryString["chsTskName"],actType : "AppSubmit"}, function (rst) { layer.msg(rst.msg, { time: 1500, icon: 1 }, function () { layer.close(index); window.document.location.href = '@Url.Action("InProcess", "TaskMgr")'; }); });*@

            $.post("@Url.Action("purchase", "TaskMgr")", { BPId: '@Model.BPId', pnbr: '@Model.PNbr', coments: $("#AppComns").val(), actType: "PurchsSubmit", finanlqtylist: objlist }, function (rst) {
                if (!rst.state) {
                    layer.msg(rst.msg, { time: 1500, icon: 2 }, function () { layer.close(index); });
                } else {
                    layer.msg(rst.msg, { time: 1500, icon: 1 }, function () { layer.close(index); window.document.location.href = '@Url.Action("InProcess", "TaskMgr")'; });
                }
            });



        });
    }
        function GetFinalQty() {
            var trArr = []; //存所有数据
            $("#tbMain tbody tr").each(function () { //便利除标题行外所有行


                //console.log('------start');
                //console.log($("input", this)[0].value);

                //console.log($(this)[0].cells[0].innerText);
                //console.log('------end');

                var obj = {};
                obj["id"] = $(this)[0].cells[0].innerText;
                obj["text"] = $("input", this)[0].value
                trArr.push(obj);

            });
            console.log(trArr);
            return JSON.stringify(trArr);

        }

    </script>

}
