@{
    ViewBag.Title = "Index";
}
@using Model;
@model tbPurchase
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#DefineChgRqst">
                <h3 class="panel-title">
                    新增采购单
                </h3>
            </a>
        </div>
        <div id="DefineChgRqst" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group form-group-sm col-sm-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            <input class="form-control" type="text" placeholder="Email address">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="password" placeholder="Password">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group form-group-sm col-sm-12">

                        <div class="input-group col-sm-4">
                            <span class="input-group-addon">采购单号</span>
                            <input class="form-control" type="text" value="PO20190225001" readonly>
                        </div>
                    </div>

                </div>

                <div class="row">




                    <div class="form-group  form-group-sm col-sm-12">

                        <div class="input-group form-group-sm col-sm-4">
                            <span class="input-group-addon">采购单号</span>
                            @Html.TextBoxFor(c => c.PNbr, new { @class = "form-control", @readonly = true })
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-group-sm col-sm-12">
                        <table id="tbBom" class="table table-hover table-bordered">
                            <caption>BOM Information: <a href="~/Docs/BOM_Format.xlsx"><i class="fa fa-file-excel-o" title="Template"> Template</i></a> <a href="javascript:void(0)" style="margin-left:10px;"><i class="fa fa-download"> Export</i></a> <a style="margin-left:10px;" href="javascript:void(0)" onclick="loadBOM();"><i class="fa fa-upload"></i> Upload</a></caption>
                            <thead>
                                <tr>
                                    <th data-field="Id">Id</th>
                                    <th data-field="sku">SKU</th>
                                    <th data-field="Qty">数量</th>
                                    <th data-field="UnitPrice">单价</th>
                                    <th data-field="outerBoxDim">外箱大小(m³)</th>
                                    <th data-field="outerBoxQty">外箱数量</th>
                                    <th data-field="weight">重量(KG)</th>
                                    <th data-field="destPort">目的港口</th>

                                    <th class="col-sm-1">
                                        <a onclick="addNewRow()" style='cursor:pointer'>
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> 增加
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                    <div class="form-group form-group-sm col-lg-12">
                        <div class="hidden">
                            <input id="Bomupload" type="file" class="file">
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
@section scripts{
<script type="text/javascript">


    function listPO(pnum) {

        console.log(pnum);
        //reset BOM Table
        $("#tbBom tbody>tr").remove();
        rowIdex = 1;
        $.get('@Url.Action("List_PO", "Service")', { pnbr: pnum }, function (data) {
            console.log(data);
            //$.each(data, function () { bind_AffectedPNs(this); });
            $(data).each(function () { bind_POes(this); });

            //for (var i = 0; i < data.length; i++) {
            //    bind_AffectedPNs(data[i])
            //}
        });

        layer.closeAll();

    }

    //Get Purchase data
    function Getpurchsbackup() {
        var tableArr = []; //存所有数据
        $("#tbBom tbody tr:not(:first)").each(function () { //便利除标题行外所有行
            var trArr = []; //存行数据
            $("input:not(:button),select,textarea", this).each(function () { //便利行内的input select的值
                var tv = $(this).val();
                trArr.push($(this).val());
            });
            console.log(trArr);
            var obj = {};




            if (trArr[0] != '' || trArr[1] != '' || trArr[2] != '' || trArr[3] != '') {
                obj["FBA"] = trArr[0];
                obj["sku"] = trArr[1];
                obj["Qty"] = trArr[2];
                obj["Currency"] = trArr[4];
                obj["UnitPrice"] = trArr[3];
                obj["outerBoxDim"] = trArr[5];
                obj["outerBoxQty"] = trArr[6];
                obj["weight"] = trArr[7];
                obj["destPort"] = trArr[8];
                obj["ShipCat"] = trArr[9];
                obj["destPort"] = trArr[10];


                tableArr.push(obj); //行数据格式
            }

        });
        console.log(tableArr);
        return JSON.stringify(tableArr);

    }


    //Get data
    function ListDta() {
        var tableArr = []; //存所有数据
        $("#tbBom tbody tr").each(function () { //便利除标题行外所有行
            var trArr = []; //存行数据
            $("input:not(:button)", this).each(function () { //便利行内的input select的值
                var tv = $(this).val();
                trArr.push($(this).val());
            });
            var obj = {};
            console.log(trArr);
            if (trArr[0] != '' || trArr[1] != '' || trArr[2] != '' || trArr[3] != '' || trArr[4] != '' || trArr[5] != '' || trArr[6] != '' || trArr[7] != '' || trArr[8] != '' || trArr[9] != '' || trArr[10] != '') {
                obj["ChgNum"] = $('#ECRNum').val();
                obj["item"] = trArr[0];
                obj["PNB"] = trArr[1];
                obj["PNA"] = trArr[2];
                obj["USGB"] = trArr[3];
                obj["USGBVal"] = trArr[4];
                obj["USGA"] = trArr[5];
                obj["USGAVal"] = trArr[6];
                obj["MPNB"] = trArr[7];
                obj["MPNA"] = trArr[8];
                obj["SupplierB"] = trArr[9];
                obj["SupplierA"] = trArr[10];
                obj["ModUser"] = '@BLL.UserHelper.Instance.GetUser().email';
                tableArr.push(obj); //行数据格式
            }

        });
        return JSON.stringify(tableArr);

    }

    //Get selected EngTeam
    function fetEngTeam() {
        var tableArr = []; //存所有数据
        $("#tbMyTeam tr:not(:first)").each(function () { //便利除标题行外所有行
            $("input[type=checkbox]", this).each(function () { //选取被选中的checkbox
                //alert($(this).parent().parent().find("td").eq(2).text());
                //obj["RoleName"] = $(this).parent().parent().children().eq(1).text();
                //console.log($(this).is(':checked'));
                var obj = {};
                obj["RqstNum"] = $('#ECRNum').val();
                obj["TeamId"] = $('#TeamId').val();
                obj["RoleId"] = $(this).val();
                obj["IsRequired"] = $(this).is(':checked') ? 1 : 0;
                tableArr.push(obj);
            });
        });

        return JSON.stringify(tableArr);
    }

    function formSave_old() {
        layer.load(1, { shade: [0.5, '#fff'] });  //show loading...
        if (Validate()) {
            alert('formsave');

            layer.closeAll('loading');
            var purchs = Getpurchs();

            //if (purchs == '[]') {
            //    layer.msg("请先填写采购数据 !", { time: 1500, icon: 7 });
            //    return;
            //}


            var index = layer.load(1, { shade: [0.5, '#fff'] });  //show loading...


            //$.post("@Url.Action("New", "Purchs")", { collection: $("#ChangeCtent").serialize(), PurchsData: purchs }, function (rst) { layer.msg(rst.msg, { time: 500, icon: 1 }, function () { layer.close(index); }); });

            //$("#ChangeCtent").submit();   //提交方法1


            //提交方法2
            @*var url = '@Html.Raw(Url.Action("PE", "MyTask", new { chgType = Request.QueryString["chgType"], actType = "PESubmit" }))';
            $.post(url, $("#ChangeCtent").serialize(), function (rst) { layer.msg(rst.msg, { time: 500, icon: 1 }, function () { layer.close(index);  }); });*@




            //提交方法3
                $.post("@Url.Action("New", "Purchs")", { pnbr: '@Model.PNbr', PurchsData: purchs, actType: "POSave" }, function (rst) {
                    //回调函数
                    if (!rst.state) {
                        layer.msg(rst.msg, { time: 1500, icon: 2 });

                    } else {
                        layer.msg(rst.msg, { time: 1500, icon: 1 });
                    }

                    layer.close(index);


                });
    }
    layer.closeAll('loading');

    }
    //list files
    function listTickets_old(tbId, RqstId, userId) {

        console.log(userId);

        var crnid = "#" + tbId;
        $(crnid).bootstrapTable('destroy').bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: '../Service/ListDocs', //获取数据的Servlet地址
            striped: true,  //表格显示条纹
            cache: false,
            pagination: false, //启动分页            
            search: false,  //是否启用查询          
            showColumns: false,  //显示下拉框勾选要显示的列
            showRefresh: false,  //显示刷新按钮
            sidePagination: "server", //server表示服务端请求client
            showPaginationSwitch: false,//展示页数的选择？
            queryParamsType: "limit",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    RqstNum: RqstId,
                    fileType: '',
                    userId: userId
                };
                return param;
            },
            columns: [{
                field: 'Id',
                title: '付款凭据ID',
                align: 'center'
            },
      {
          field: 'FName',
          title: '文件名称',
          align: 'center',
          formatter: function (value, row, index) {
              var sctrl = "<a href='@Url.Content("~/UploadFiles/")" + row.FName + "' target='_blank'>" + row.FName + "</a>";
              return sctrl;                
          }
      }, {
          field: 'Id',
          title: '操作',
          align: 'center',
          formatter: function (value, row, index) {
              //var sctrl = "<a href='javascript:void(0)' onclick='deleteFile(" + row.id + ")' title='Remove'><i class='glyphicon glyphicon-remove'></i></a>";

              var d = '<a href="javascript:void(0)"  onclick="deleteFile(\'' + row.Id + '\',\'' + row.FileName + '\')" ><span class="glyphicon glyphicon-remove" title="Remove"></span></a> ';
              return d;
          }
      }],
            onLoadSuccess: function () {  //加载成功时执行
                //layer.msg("加载成功");
            },
            onLoadError: function () {  //加载失败时执行
                //layer.msg("加载数据失败", { time: 1500, icon: 2 });
            }
        });
    }
    </script>
   

}
