@{
    ViewBag.Title = "物流管理";
}
@using Model;
@model LgsticForDisplay
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> 采购单详细信息</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon">采购单号</span>
                        @Html.LabelForModel(Model.PNbr, new { @class = "form-control" })                     
                    </div>
                </div>
                <div class="col-sm-6 form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon">申请人</span>
                        @Html.LabelForModel(Model.ModUser, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6 form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon">申请日期</span>
                        @Html.LabelForModel(Model.Cdt, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6 form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon">状态</span>
                        @Html.LabelForModel(Model.chsTskName, new { @class = "form-control" })
                    </div>
                </div>

            </div>


            <div class="row" style="margin-top:15px;">
                <div class="col-lg-12 table-responsive">
                    <table id="tbMain" class="table table-hover" data-pagination="true" data-show-refresh="true">
                        <thead>
                            <tr>
                                <th data-field="Id" class="text-center">Id</th>
                                <th data-field="FBA" class="text-center">FBA</th>
                                <th data-field="Sku" class="text-center">SKU</th>
                                <th data-field="FinalQty" class="text-center">数量</th>
                                <th data-field="OuterBoxDim" class="text-center">外箱大小(m³)</th>
                                <th data-field="OuterBoxQty" class="text-center">外箱数量</th>
                                <th data-field="Weight" class="text-center">重量(KG)</th>
                                <th data-field="DestPort" class="text-center">目的港口</th>
                                <th data-field="ShipCat" class="text-center">出运方式</th>
                                <th data-field="LChsSupplier" class="text-center">货运公司</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>




        </div>
    </div>
</div>
<div class="row">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-edit"></i> 确认到货</h3>
        </div>
        <div class="panel-body">

@using (Ajax.BeginForm("logicConfirm", "TaskMgr", new { actType = Model.engTskName + "Save" }, new AjaxOptions { HttpMethod = FormMethod.Post.ToString(), OnSuccess = "submitSuccess" }, new { id = "form1" }))
{
                    <div class="row">

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-12 form-group form-group-sm">
                                <div class="input-group">
                                    <span class="input-group-addon">物流单号</span>
                                    @Html.LabelForModel(Model.LgcNbr, new { @class = "form-control" })

                                </div>
                                @Html.HiddenFor(h => h.BPId)   @Html.HiddenFor(h => h.PNbr)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group form-group-sm">
                            <div class="input-group">
                                <span class="input-group-addon">运单号</span>
                                @Html.TextBoxFor(c => c.yundanNbr, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group form-group-sm">
                            <div class="input-group">
                                <span class="input-group-addon">运费</span>
                                @Html.TextBoxFor(c => c.carriageChrge, new { @class = "form-control", @type = "number", Value = Model.carriageChrge != 0 ? Model.carriageChrge.ToString() : "" })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group form-group-sm">
                            <div class="input-group">
                                <span class="input-group-addon">检查费</span>
                                @Html.TextBoxFor(c => c.InspecChrge, new { @class = "form-control", @type = "number", Value = Model.InspecChrge != 0 ? Model.InspecChrge.ToString() : "" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group form-group-sm">
                            <div class="input-group">
                                <span class="input-group-addon">关税</span>
                                @Html.TextBoxFor(c => c.traiffChrge, new { @class = "form-control", @type = "number", Value = Model.traiffChrge != 0 ? Model.traiffChrge.ToString() : "" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group form-group-sm col-sm-12">
                        @*<textarea id="AppComns" name="AppComns" class="form-control" rows="5" placeholder="请填写备注信息...">@Model.coments</textarea>*@
                        @Html.TextAreaFor(p => p.confirmComments, new { @class = "form-control", placeholder = "请填写备注信息...", rows = "5" })
                    </div>
                </div>



            </div>

}
       




        </div>

    </div>


</div>

<div class="row col-lg-12">
    <div class="btn-group-sm pull-right">
        <button type="button" class="btn btn-default btn-sm" onclick="formSave();">保存</button>
        <button type="button" class="btn btn-primary btn-sm" onclick="formSubmit();">确认到货</button>
    </div>
</div>





@section scripts{
    <script type="text/javascript">
    function initTable(ponbr) {
        $("#tbMain").bootstrapTable('destroy').bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "@Url.Action("List_POForDisplay", "Service")", //获取数据的Servlet地址
            striped: true,  //表格显示条纹
            cache: false,
            pagination: true, //启动分页
            paginationHAlign: 'right',
            paginationVAlign: 'bottom', //bottom, top, both
            paginationDetailHAlign: 'left', //right, left
            showPaginationSwitch: false,//展示页数的选择？
            pageSize: 10,
            pageNumber: 1, //当前第几页
            pageList: [5, 10, 15, 20, 25],
            search: false,
            showColumns: false,  //显示下拉框勾选要显示的列
            showRefresh: false,  //显示刷新按钮
            sidePagination: "client", //server表示服务端请求client
            queryParamsType: "limit",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pnbr: ponbr

                };
                return param;
            },
            formatSearch: function () {
                return 'Search: Request Number';
            },
            onLoadSuccess: function () {  //加载成功时执行
                //layer.msg("加载成功");
            },
            onLoadError: function () {  //加载失败时执行
                //layer.msg("加载数据失败", { time: 1500, icon: 2 });
            }
        });
    }




    $(function () {
        initTable('@Model.PNbr');
    });

    function formSave() {
        layer.closeAll('loading');
        var index = layer.load(1, { shade: [0.5, '#fff'] });  //show loading...
        $("#form1").submit();
    }
    function formSubmit() {
        layer.confirm('确定要提交吗？', {
            icon: 3,
            title: '系统消息',
            btn: ['确定', '取消']
        }, function () {
            var index = layer.load(1, { shade: [0.5, '#fff'] });   //show loading...

            var url = '@Html.Raw(Url.Action("logicConfirm", "TaskMgr", new { actType = Model.engTskName + "Submit" }))';
      

            $.post(url,  $("#form1").serialize(), function (rst) {
                if (!rst.state) {
                    layer.msg(rst.msg, { time: 1500, icon: 2 }, function () { layer.close(index); });
                } else {
                    layer.msg(rst.msg, { time: 1500, icon: 1 }, function () { layer.close(index); window.document.location.href = '@Url.Action("InProcess", "TaskMgr")'; });
                }
            });



        });
    }
    function submitSuccess() {
        layer.closeAll('loading');
        layer.msg("操作成功", { time: 1500, icon: 1 });
    }


    </script>

}
