@{
    ViewBag.Title = "Infor";
}
@using Model;
@model IsTskInLog
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#basic">
                <h3 class="panel-title"><i class="fa fa-list"></i> 基本信息</h3>
            </a>
           
        </div>
        <div id="basic" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 form-group form-group-sm">
                        <div class="input-group">
                            <span class="input-group-addon">采购单号</span>
                            @Html.LabelForModel(Model.PNbr, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-6 form-group form-group-sm">
                        <div class="input-group">
                            <span class="input-group-addon">申请人</span>
                            @Html.LabelForModel(Model.ModUser, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-6 form-group form-group-sm">
                        <div class="input-group">
                            <span class="input-group-addon">申请日期</span>
                            @Html.LabelForModel(Model.Cdt, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-6 form-group form-group-sm">
                        <div class="input-group">
                            <span class="input-group-addon">状态</span>
                            @Html.LabelForModel(Model.Status, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="row" style="margin-top:15px;">
                    <div class="col-lg-12 table-responsive">
                        <table id="tbBasic" class="table table-hover" data-pagination="true" data-show-refresh="true">
                            <thead>
                                <tr>
                                    <th data-field="Id" class="text-center">#</th>
                                    <th data-field="FBA" class="text-center">FBA</th>
                                    <th data-field="Sku" class="text-center">SKU</th>
                                    <th data-field="comQty" class="text-center">申请/实际 数量</th>
                                    <th data-field="Currency" class="text-center">货币</th>
                                    <th data-field="UnitPrice" class="text-center">单价</th>
                                    <th data-field="OuterBoxDim" class="text-center">外箱大小(m³)</th>
                                    <th data-field="OuterBoxQty" class="text-center">外箱数量</th>
                                    <th data-field="Weight" class="text-center">重量(KG)</th>
                                    <th data-field="DestPort" class="text-center">目的港口</th>
                                    <th data-field="ShipCat" class="text-center">出运方式</th>
                                    <th data-field="ChsSupplier" class="text-center">商品供应商</th>
                                    <th data-field="Comments" class="text-center">备注</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@{

    if (Model.showApp && Model.Approval)
    {
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" href="#app">
                        <h3 class="panel-title"><i class="fa fa-list"></i> 审批信息</h3>
                    </a>

                </div>
            </div>
            <div id="app" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 table-responsive">
                            <table id="tbApproval" class="table table-hover" data-pagination="true" data-show-refresh="true">
                                <thead>
                                    <tr>
                                        <th data-field="ModUser" class="text-center">审批人</th>
                                        <th data-field="Cdt" class="text-center">审批日期</th>
                                        <th data-field="coments" class="text-center">备注</th>
                                        <th data-field="chsStatus" class="text-center">状态</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    }


}
@{
    if (Model.showPurchs && Model.Purchase)
    {
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" href="#divpurchs">
                        <h3 class="panel-title"><i class="fa fa-list"></i> 采购信息</h3>
                    </a>

                </div>
            </div>
            <div id="divpurchs" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 table-responsive">
                            <table id="tbPurchs" class="table table-hover" data-pagination="true" data-show-refresh="true">
                                <thead>
                                    <tr>
                                        <th data-field="ModUser" class="text-center">姓名</th>
                                        <th data-field="Cdt" class="text-center">日期</th>
                                        <th data-field="coments" class="text-center">备注</th>
                                        <th data-field="chsStatus" class="text-center">状态</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    }
}
@{
    if (Model.showFinance && (Model.FinPOPay || Model.FinTaxPay))
    {
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" href="#divFin">
                        <h3 class="panel-title"><i class="fa fa-list"></i> 财务信息</h3>
                    </a>

                </div>
            </div>
            <div id="divFin" class="panel-collapse collapse">
                <div class="panel-body">                
                    <div class="row">
                        <div class="col-lg-12 table-responsive">
                            <table id="tbPopay" class="table table-hover" data-pagination="true" data-show-refresh="true">
                                <thead>
                                    <tr><th colspan="4">财务采购支付信息</th></tr>
                                    <tr>
                                        <th data-field="ModUser" class="text-center">姓名</th>
                                        <th data-field="Cdt" class="text-center">日期</th>
                                        <th data-field="coments" class="text-center">备注</th>
                                        <th data-field="chsStatus" class="text-center">状态</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 table-responsive">
                            <table id="tbTaxpay" class="table table-hover" data-pagination="true" data-show-refresh="true">
                                <thead>
                                    <tr><th colspan="4">财务物流关税支付信息</th></tr>
                                    <tr>
                                        <th data-field="ModUser" class="text-center">姓名</th>
                                        <th data-field="Cdt" class="text-center">日期</th>
                                        <th data-field="coments" class="text-center">备注</th>
                                        <th data-field="chsStatus" class="text-center">状态</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-lg col-lg-12 text-center" style="margin-top:5px;margin-bottom:5px;"><i class="fa fa-files-o"> <strong> 支付凭据</strong></i></div>
                        <div class="col-lg-12 table-responsive">
                            <table id="tbPayDoc" class="table table-hover" data-pagination="true" data-show-refresh="true">
                            </table>
                            @*<table id="tbPayDoc" class="table table-hover" data-pagination="true" data-show-refresh="true">
                                <thead>
                                    <tr><th colspan="4">支付凭据</th></tr>
                                    <tr>
                                        <th data-field="ModUser" class="text-center">凭据类型</th>
                                        <th data-field="Cdt" class="text-center">文件名</th>
                                        <th data-field="coments" class="text-center">上传日期</th>
                                        <th data-field="chsStatus" class="text-center">上传者</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>*@
                        </div>
                    </div>




                </div>
            </div>
        </div>
    }
}
@{
    if (Model.showLgc && (Model.LgcOutOfStock || Model.LgcConfirmArrival))
    {
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" href="#divLgc">
                        <h3 class="panel-title"><i class="fa fa-list"></i> 物流信息</h3>
                    </a>

                </div>
            </div>
            <div id="divLgc" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 table-responsive">
                            <table id="tblgc" class="table table-hover" data-pagination="true" data-show-refresh="true">
                                <thead>
                                    <tr><th colspan="4">发起物流信息</th></tr>
                                    <tr>
                                        <th data-field="ModUser" class="text-center">姓名</th>
                                        <th data-field="Cdt" class="text-center">日期</th>
                                        <th data-field="coments" class="text-center">备注</th>
                                        <th data-field="chsStatus" class="text-center">状态</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 table-responsive">                          
                            <table id="tblgconfirm" class="table table-hover" data-pagination="true" data-show-refresh="true">
                                <thead>
                                    <tr><th colspan="4">物流确认到货信息</th></tr>
                                    <tr>
                                        <th data-field="ModUser" class="text-center">姓名</th>
                                        <th data-field="Cdt" class="text-center">日期</th>
                                        <th data-field="coments" class="text-center">备注</th>
                                        <th data-field="chsStatus" class="text-center">状态</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<div class="row col-lg-12">
    <div class="btn-group-sm pull-right">
        <button type="button" id="btnBack" name="btnBack" class="btn btn-primary btn-sm" onclick="javascript: history.go(-1);" style="width:100px;"><i class="fa fa-mail-reply"> 返回</i></button>
        @{
            if (BLL.UserHelper.Instance.GetUser().roles.Contains("8"))
            {
                <button type="button" class="btn btn-primary btn-sm" onclick="deletePO();" style="width:100px;"><i class="fa fa-trash"> 删除采购单</i></button>
            }
        }
       
    </div>
</div>


@section scripts{
<script src="~/Scripts/cust/qypo.js"></script>
    <script type="text/javascript">

    $(function () {
        layer.closeAll('loading');
        layer.load(1, { shade: [0.5, '#fff'] });  //show loading...
        listBasic('@Model.PNbr');   //basic


        if ('@Model.showApp' == 'True' && '@Model.Approval' == 'True') {
            listdata2TB('@Model.BPIdApp', "Approval", "#tbApproval");
        }
        if ('@Model.showPurchs' == 'True' && '@Model.Purchase' == 'True') {
            listdata2TB('@Model.BPIdPurchs', "Purchase", "#tbPurchs");
        }
        if ('@Model.showFinance' == 'True' && ('@Model.FinTaxPay' == 'True' || '@Model.FinPOPay' == 'True')) {
            listdata2TB('@Model.BPIdPOPay', "POPay", "#tbPopay");
            listdata2TB('@Model.BPIdTaxPay', "TaxPay", "#tbTaxpay");
        }
        if ('@Model.showLgc' == 'True' && ('@Model.LgcOutOfStock' == 'True' || '@Model.LgcConfirmArrival' == 'True')) {
            listdata2TB('@Model.BPIdPOPay', "OutOfStock", "#tblgc");
            listdata2TB('@Model.BPIdTaxPay', "ConfirmArrival", "#tblgconfirm");
        }
        if ('@BLL.tbFile.Instance.exist(Model.PNbr, "")' == 'True') {
            listDocs('tbPayDoc', '@Model.PNbr', '@BLL.UserHelper.Instance.GetUser().Id', '');
        }
        //layer.closeAll('loading');
    })
    function listdata2TB(bpid, tskname, tbId) {
        $(tbId).bootstrapTable('destroy').bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "@Url.Action("List_LogForDisplay", "Service")", //获取数据的Servlet地址
            striped: true,  //表格显示条纹
            cache: false,
            pagination: true, //启动分页
            paginationHAlign: 'right',
            paginationVAlign: 'bottom', //bottom, top, both
            paginationDetailHAlign: 'left', //right, left
            showPaginationSwitch: false,//展示页数的选择？
            pageSize: 10,
            pageNumber: 1, //当前第几页
            pageList: [5, 10, 15, 20, 25],
            search: false,
            showColumns: false,  //显示下拉框勾选要显示的列
            showRefresh: false,  //显示刷新按钮
            sidePagination: "client", //server表示服务端请求client
            queryParamsType: "limit",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    BPId: bpid,
                    tsk: tskname
                };
                return param;
            },
            formatSearch: function () {
                return 'Search: Request Number';
            },
            onLoadSuccess: function () {  //加载成功时执行
                layer.closeAll('loading');
                //layer.msg("加载成功");
            },
            onLoadError: function () {  //加载失败时执行
                //layer.msg("加载数据失败", { time: 1500, icon: 2 });
            }
        });
    }
    function listBasic(ponbr) {
        $("#tbBasic").bootstrapTable('destroy').bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "@Url.Action("List_POForDisplay", "Service")", //获取数据的Servlet地址
            striped: true,  //表格显示条纹
            cache: false,
            pagination: true, //启动分页
            paginationHAlign: 'right',
            paginationVAlign: 'bottom', //bottom, top, both
            paginationDetailHAlign: 'left', //right, left
            showPaginationSwitch: false,//展示页数的选择？
            pageSize: 10,
            pageNumber: 1, //当前第几页
            pageList: [5, 10, 15, 20, 25],
            search: false,
            showColumns: false,  //显示下拉框勾选要显示的列
            showRefresh: false,  //显示刷新按钮
            sidePagination: "client", //server表示服务端请求client
            queryParamsType: "limit",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pnbr: ponbr
                };
                return param;
            },
            formatSearch: function () {
                return 'Search: Request Number';
            },
            onLoadSuccess: function () {  //加载成功时执行
                layer.closeAll('loading');
                //layer.msg("加载成功");
            },
            onLoadError: function () {  //加载失败时执行
                //layer.msg("加载数据失败", { time: 1500, icon: 2 });
            }
        });
    }


    function deletePO() {
        layer.confirm('确定要删除吗？', {
            icon: 3,
            title: '系统消息',
            btn: ['确定', '取消']
        }, function () {
            var index = layer.load(1, { shade: [0.5, '#fff'] });   //show loading...
            $.post("@Url.Action("deletePO", "Service")", { pnbr: '@Model.PNbr' }, function (rst) {
                layer.msg(rst.msg, { time: 1500, icon: 1 }, function () { layer.close(index); history.go(-1); });
                });
            });
        }

    </script>
}