@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>趣柚进销管理系统</title>
    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="@Url.Content("~/vendor/metisMenu/metisMenu.min.css")" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/cust/sb-admin-2.css")" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="@Url.Content("~/vendor/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:100px;">
            <div class="col-md-4 col-md-offset-4" style="vertical-align:middle;">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> 用户登陆</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input id="tbxUserId" class="form-control" placeholder="邮箱地址..." name="tbxUserId" type="text" value="admin@126.com" autofocus>
                                </div>
                                <div class="form-group">
                                    <input id="password" class="form-control" placeholder="用户密码..." name="password" type="password" value="123">
                                </div>
                                <p class="text-warning" id="lbltip"></p>
                                <a href="javascript:void(0)" class="btn btn-lg btn-success btn-block" id="btnLogin">登 陆</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="@Url.Content("~/vendor/jquery/jquery.min.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="@Url.Content("~/vendor/metisMenu/metisMenu.min.js")"></script>
    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/Scripts/cust/sb-admin-2.js")"></script>

    <script src="@Url.Content("~/Scripts/layer/layer.js")"></script>


</body>
</html>
<script type="text/javascript">
   
  


    $(function () {
        $('#tbxUserId,#password').on('keyup', function (e) {
            if (e.keyCode == 13) {
                $('.btnLogin').trigger('click');
            }
        });

        $('#btnLogin').click(function () {
            $("#lbltip").html('');
            layer.load(1, { shade: [0.5, '#fff'] });   //show loading...

            $.post("@Url.Content("~/Account/Login")", { usermail: $('#tbxUserId').val(), psw: $('#password').val() }, function (rst) {
                //回调函数
                if (rst.state) {
                    window.location.href = "@Url.Content("~/Home/Index")";
                }
                else {
                    $("#lbltip").html(rst.msg);
                    layer.closeAll('loading');
                }
            });
        });
    });
</script>